.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all var(--transition-fast);
  user-select: none;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon:active {
  transform: scale(0.95);
}
